body{
    font-family: "Montserrat";
    text-align: center;
  }



h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-bold";
  }


/* navbar*/
.navbar{
    padding: 10px 10px 10px 10px;
    
  }
  .navnav{
    padding:0px;
  }
  
  .navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "ubuntu";
  }
  
  .nav-items{
    padding: 0 18px;
  }
  
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-thin";
  }
  
  .w-100{
    max-width:100%;  
    height:750px;  
  }  
 
  /*corousel*/
  .testimonial-text{
    font-size: 4rem;
    line-height: 1.5;
    text-align: inherit;
    padding-bottom: 10px;
    font-weight: 900;
  }
  .corousel-caption{
    font-size: 10rem;
    line-height: 1.5;
    text-align: inherit; 
  }

 #carouselExampleIndicators p{
    padding-bottom: 150px;
  }

  .white-section{
    background-color: white;
  }
  .location{
    text-align:inherit;
  }

  
/*features*/
  #features{
    position: relative;
    z-index: 1;
    height: 500px;
    padding-top: 40px;
  }
  
  .feature-box{
    padding:5%;
  }
  
  .feature-title{
    font-size: 2rem;
    text-align: center;
  }
  
  .icon{
    color:#020b11;
    padding-bottom: 1.2rem;
    padding-left: 10px;
    width: 30%;
  }
  
  .icon:hover{
    color:#ffd761;
  }

  #features p{
      text-align: center;
      font-size: 1rem;
  }
  #features h1{
    font-size: 4rem;
  }


  /* PROJECT */

.colored-section{
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    overflow: hidden;
}

.project-img{
    width: 300px;
    height: 300px;
}
.project-row{
    padding-left: 30px;
    padding-right: 30px;
}

.project-h5{
    padding-top: 50px;
    padding-bottom: 20px;

}

.project-col:hover{
    background-color: #ffd761;
    transform: scale(0.98);
}

.project-col:hover .project-btn{
    background-color: #512D6D;
}

.project-details{
    padding-left: 20px;
    padding-bottom: 30px;
}
.cen{
    text-align: center;
    font-size: 70px;
    padding-bottom: 20px;
    padding-top: 10px;
}
#Facilities h5{
  font-weight: bold;
}

/*pricing*/

#pricing h2{
    font-size: 100px;
}
.para{
  padding-bottom: 20px;
}
  
#pricing{
    text-align: center;
  }
  
.pricing-column{
    padding: 1% 1%;
  }
  
.price-text{
    line-height: 1.5;
    font-size: 3rem;
  }
  .rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.2em;
  }
  
  .section-heading{
    text-align: center;
    color: #020b11;
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 10px;
   
  }
  
  body {
    color: #514B64;
    min-height: 100vh;
  }


/*video project*/

.video-project{
    background-color:#ffd761;
    overflow: hidden;
  }

.video-h1{
    color: #0f0909;
}

.video{
    width:900px;
    padding-left: 2px;
}

.video-con{
    padding-left: 200px;
    margin-top: 0;
    padding-bottom: 50px;
}

.video_title{
    font-size: large;
    padding-left: 10px;
    color: #130808;
    
}
.u{
  padding-right: 200px;
}
.carousel-control-next{
  padding-right: 150px;
}

.carousel-control-prev{
  padding-right: 170px;
}


/*team*/
#Reviews h2{
    
    text-align: center;
    /* text-decoration: underline; */
    font-size: 60px;
    
    color:rgba(2, 3, 3, 0.945);
    padding-top: 30px;
    padding-bottom: 20px;
}
#Reviews p{
    text-align: center;
    padding-top: 40px;
}
#Reviews h5{
    text-align: center;
    padding-top: 20px;
    
}
#Reviews .btn:hover{
background-color: #0f0909;
}
.team img{
    height: 120px;
    width: 150px;
    justify-content: center;
    align-self: center;
    margin-top: 70px;
}
.team-img{
    border-radius: 50%;
}
.team-img:hover{
    opacity: 0.5;
}
.team .card{
    margin-left: 30%;
  
    border: 0;
}
#Reviews{
    padding-bottom: 120px;
}

#Reviews .btn{
  margin-top: 20px;
  
}

/*contact*/
.contact-us .form{
    width: 40%;
    float: right;
    background-color:#ffd761;
    padding-left: 5%;
    
}
.contact-us .map{
    float: left;
    
}
.contact-us h2{
    font-family: 'Ubuntu', serif;
    /* text-align: center; */
    text-decoration: underline;
    font-size: 2.2em;
    font-weight: bold;
    color:rgba(2, 41, 59, 0.945);
    /* margin-top: 1.5%; */
    padding-right: 60%;
}
.form-control{
    width: 60%;
   
}
.form-label{
    font-family: 'Montserrat', serif;
    font-weight: bold;
    padding-right: 70%;
}
.contact-us .form button{
    background-color: rgb(9, 6, 12);
    color:white;
}
#contact{
    padding-bottom: 100px;
}
.form-text{
  padding-right: 40%;
}

#footer{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 528px;
  
}
#footer p{
   font-size: 1rem;
}

  